<img src="../../assets/wave.svg"/>
<div class="inter-register">
  <h1>Registro en linea</h1>
  <input class="inter-register--input" placeholder="Escriba su nombre" (change)="catchValueUser($event)" />
  <input class="inter-register--input" type="number" placeholder="Escriba su cedula"
    (change)="catchValueCedula($event)" />
  <button class="inter-button" (click)="login()">Ingresar</button>
  <!-- <button class="inter-button" (click)="show()">mostrar</button>
  <button class="inter-button" (click)="close()">ocultar</button> -->
</div>